@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}




header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }
  .spaceBarContainer{
    display: flex;
    justify-content: flex-start;
    
    
  }
  .spaceBarContainer img{
    width: 20px;
    
  }
  .spaceBarContainer form{
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 50px;
    background-color: #808080;

  }
  .spaceBarContainer form label{
    color: rgba(0,0,0,.05);
    
  }
  #npm{
    width: 70px;
  }
  .spaceBarContainer form input{
    border: none;
    color: rgba(0,0,0,.05);
    width: 1500%;
    padding: 5px;
    background-color: #808080;
    
  }
  .spaceBarContainer div{
    justify-content: end ;
    margin-left: 10rem;
  }
  .spaceBarContainer div a{
    text-decoration: none;
  }
  #join{
    border: 1px solid grey;
  }
#button{
    background-color: #fb3e44;
    color: white;
    padding: 0.5rem;
    
  }

  /* section */

section{
  height: 600px;
}
.section1  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

